.space{
    background: rgb(255, 255, 255, 0.3); 
    display: flex;
    color: black;
    min-width: 29.73%;
    height: 200px;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 300px;
    font-size: 8vw;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.response{
    width: 100%;
    height: 100%;
}

.spant{
    display: flex;
}

.all{
    width: 98.8vw;
    height: 97vh;
    display: flex;
    flex-flow: row wrap;
}

.image-x-space{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: start;
    min-width: 30%;
}

.Top{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: silver;
    color: black;
    width: 100%;
    height: 250px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.area{
    height: 100%;
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    min-width: 70%;
    flex-direction: column;
}

.idk{
    display: flex;
    width: 100%;
    height: 250px;
    padding-bottom: 1%;
    color: white;
    flex-flow: row wrap;
    background-color: black;
    flex-basis: 80%;
    min-width: 100%;
    align-items: center;
    justify-content: space-evenly;

}

.left{
    flex-flow: column wrap;
    flex-basis: auto;
    min-width: 30%;
    display: flex;
    justify-self: space-evenly;
    overflow: hidden;
}

.fire{
    display: flex;
    background-color: black;
    justify-self: center;
    padding-top: 5%;
    padding-bottom: 2%;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: white;
}

.water{
    display: flex;
    justify-content: center;
    background-color: black;
}

.bottom{
    width: 100%;
    height: 280px;
    background-color: silver;
}

.Account{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 20px;
    background-color: white;
    width: 15%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flames{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Account:hover{
    border: 1px solid black;
}